<tr>
  <td><%= recipe_food.food.name %></td>
  <td><%= recipe_food.quantity %></td>
  <td><%= recipe_food.food.price %></td>
  <td class="text-muted">
    <span class="me-5 text-decoration-underline">Modify  </span>
    <span class="text-decoration-underline">  Remove</span>
  </td>
</tr>